[Unit]
Description=Load iptables modules and set iptables alternatives
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/iptablesfix.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
