[Unit]
Description=semaphore
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/opt/ComposeFiles/
ExecStart=/usr/libexec/docker/cli-plugins/docker-compose -f /opt/ComposeFiles/semaphore/semaphore-compose.yaml up -d
ExecStop=/usr/libexec/docker/cli-plugins/docker-compose -f /opt/ComposeFiles/semaphore/semaphore-compose.yaml down
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
